<!DOCTYPE html>
<html>
<head>
  <meta property="og:description" content="A literate program in the rhipy repository." />
  <meta name="description" content="A literate program in the rhipy repository." />
  [AUTHORS]
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
[CONTENT]
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
</script>
</body>
</html>
